@import "tailwindcss";

@config "../../../../tailwind.config.cjs";
@source '../../../../src/**/*.md';
@source '../../**/*.{vue,ts}';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    :root {
        --color-bg: #e5e5e5;
        --color-primary: #1e1e1e;
        --color-secondary: #6e6e6e;
        --color-link: #4646e3;
        --color-link-hover: #2020af;
    }

    [data-theme='dark'] {
        --color-bg: #37383e;
        --color-primary: #dadadb;
        --color-secondary: #8a8a8a;
        --color-link: #78c6d7;
        --color-link-hover: #55a6b6;
    }
}

@layer components {
    .home-page-svg {
        @apply w-8 h-8 m-1;
    }
<<<<<<< HEAD
}

@layer md-content {
    .content a {

    }
    .content p {
        
=======

    .post-link {
        color: var(--color-link);
    }

    .post-link:hover {
        color: var(--color-link-hover);
    }

    .test-block {
        @apply bg-red-50;
>>>>>>> 5c66dd0 (adjust styling)
    }
}