@import "tailwindcss";

@config "../../../../tailwind.config.cjs";
@source '../../../../src/**/*.md';
@source '../../**/*.{vue,ts}';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    :root {
        --color-bg: #f5f5f5;
        --color-primary: #1e1e1e;
    }

    [data-theme='dark'] {
        --color-bg: #37383e;
        --color-primary: #dadadb;
    }
}