@import "tailwindcss";

@config "../../../../tailwind.config.cjs";
@source '../../../../src/**/*.md';
@source '../../**/*.{vue,ts}';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

